table{
    text-align: left;
    width: 80%;
    margin: 0 auto;
}

tr{
    margin: 3px;
    background-color: rgb(169, 191, 212);
}

tr:nth-child(2n){
    background-color: rgb(146, 185, 223);
}

thead tr,
.header-on-left th{
    background-color: rgb(64, 138, 212);
}


td, th{
    padding: 6px;
}

.error{
    background: #f7a2a2;
    border: 2px solid red;
    padding: 20px;
    margin: 10px auto;
    width: 80%;
}
